.divider .line {
  width: 100px;
  height: 3px;
  background-color: white;
}
.divider i {
  color: white;
  font-size: 20px;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}
.cont{
       background-color: #1abc9c;

}
