img {
    width: 250px;
}

.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.divider .line {
  flex: 1;
  height: 2px;
  background-color: white;


}

.divider i {
  color: white;
  font-size: 20px;
}
